{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>
    <div class="mt-6 space-y-6">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto perferendis aspernatuvitae quos reprehenderit atque delectus autem exercitationem optio nam at aliquam, ad rerum ipsanon earum officia placeat rem?</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto eum veniam animi omnis nobis ratione, sequi modi veritatis, suscipit dicta! Cupiditate laboriosam aperiam labore quod nulla veritatis laudantium repellendus!</p>
    </div>

{% endblock %}